
<div class="limiter" *ngIf="validatedEmail">
    <div class="container-login100">
      <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
        <form class="login100-form validate-form" #resetPassForm="ngForm">
          <span class="login100-form-title p-b-55">
              Create a new password
          </span>
          <div class="wrap-input100 validate-input m-b-16"  >
              <input class="input100" type="text" name="pwd" [(ngModel)]="newpass" placeholder="Password" required>
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <span class="lnr lnr-envelope"></span>
              </span>
            </div>
          <div class="wrap-input100 validate-input m-b-16" >
            <input class="input100" type="text" name="cpwd" placeholder="Confirm Password" required>
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <span class="lnr lnr-envelope"></span>
            </span>
          </div>
          <div class="container-login100-form-btn row p-t-25">
              <button class="login100-form-btn half-width" [routerLink]="login">
                Close
              </button>
              <button class="login100-form-btn half-width" (click)="newpwd()" [disabled]="resetPassForm.invalid " type="submit">
                  Reset 
                </button>
            </div>
              
            
       
        </form>
      </div>
    </div>
  </div>