<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-55">
            Enter Your Registered Email
        </span>

        <div class="wrap-input100 validate-input m-b-16" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" name="email" placeholder="Email">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <span class="lnr lnr-envelope"></span>
          </span>
        </div>
        <div class="row p-t-25">
						<button class="login100-form-btn col-md-2">
							Close
            </button>
            <button class="login100-form-btn col-md-2" (click)="resetpwd()">
                Reset Password
              </button>
          </div>
     
      </form>
    </div>
  </div>
</div>