
<div class="limiter">
  <div class="container-login100">
     
    <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
        <div class="  alert alert-danger w-100" role="alert" *ngIf="verifyEmail">
          </div>
      <form class="login100-form validate-form" #resetPassForm="ngForm">
        <span class="login100-form-title p-b-55">
          Enter Your Registered Email
        </span>

        <div class="wrap-input100 validate-input m-b-16" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" name="email" placeholder="Email" [(ngModel)]="email" (keyup)="checkEmailDuplication()"
            #email_validate="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="material-icons">email</i>
          </span>
          <div *ngIf="email_validate.errors?.required  && (email_validate.touched)" class="error">Email is Required</div>
          <div *ngIf="email_validate.errors?.pattern && (email_validate.touched || email_validate.dirty)" class="error">Enter a valid Email</div>
          <div class="error" *ngIf="!verifyEmail && !email_validate">Email Doesn't Exist</div>
        </div>
        <div class="container-login100-form-btn row p-t-25">
          <button class="login100-form-btn half-width" (click)="goBack()">
            Close
          </button>
          <button *ngIf="verifyEmail" class="login100-form-btn half-width" (click)="resetpwd()" [disabled]="!verifyEmail" type="submit">
          Submit
          </button>
        </div>

      </form>
    </div>
  </div>
</div>