a{
    color : #3f51b5;
    text-decoration: none;
}
tr th{
    color : #646879;
}
.f-b{
   font-weight: bold;
}
.event-link-heading span{
    color : #646879;
    
}

.m-b-10{
    margin-bottom: 10px;
}
.cur-pointer{
    cursor: pointer;
}
.register-btn{
    font-weight: bold;
    color: blue; 
}
.view-btn{
    font-weight: bold;
    color: green;
}