<div class="content-wraper">

    <div class="container-fluid" style="padding: 0px;">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
  
          <div class="page-header page-header-default">
            <div class="page-header-content">
              <div class="page-title">
                <h4>
                  <i class="icon-arrow-left52 position-left"></i>
                  <span class="text-semibold">Home</span> - Registered Users Details</h4>
                <a class="heading-elements-toggle">
                  <i class="icon-more"></i>
                </a>
              </div>
  
            </div>
  
            <div class="breadcrumb-line">
              <a class="breadcrumb-elements-toggle">
                <i class="icon-menu-open"></i>
              </a>
              <ul class="breadcrumb">
                <li>
                  <a href="index.html">
                    <i class="icon-home2 position-left"></i> Home</a>
                </li>
                <li >Events List</li>
                <li class="active">Single Registeredusers Details</li>
              </ul>
  
  
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="card p-2">
            <div class="card-body">
                <div class="main-pd-blk">
                    <div class="row bi-blk">
                      <div class="col-sm-6 user-bi-blk">
                        <h4 class="">Rider Information</h4>
                        <div>
                            <p class="user-para">{{singleUserData?.user_id?.first_name}} {{singleUserData?.user_id?.last_name}}</p>
                            <p class="user-para">{{singleUserData?.user_id?.email}}</p>
                            <p class="user-para">{{singleUserData?.user_id?.phone}}</p>
                            <p class="user-para">{{singleUserData?.user_id?.addline1}} {{singleUserData?.user_id?.addline2}}</p>
                            <p class="user-para">{{singleUserData?.user_id?.city}}, {{singleUserData?.user_id?.state}},{{singleUserData?.user_id?.zipcode}}</p>
                          </div>
                        
                    
                      </div>
                      <div class="col-sm-6">
                
                      </div>
                    </div>
                    <div class="row bill-blk">
                      <div class="col-sm-12 user-bill-blk table-responsive table-hover">
                        <table class="table" width="100%" id="table1">
                          <caption>Rider and Horse Details</caption>
                          <thead class="thead-light">
                          <tr>
                            <th width="60%">Rider/Horse</th>
                            <th width="20%">Race Class</th>
                            <th width="20%">Fees</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let rcdata of singleUserData.racetypeList">
                            <td>{{rcdata.ridername}}
                              <br/>{{rcdata.horsename}}</td>
                            <td>{{rcdata.ridetype[0]}}</td>
                            <td class="ralign">{{rcdata.ridetype[1] | currency}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <br/>
                    <div class="row bill-blk">
                      <div class="col-sm-12 user-bill-blk table-responsive table-hover">
                        <table class="table" width="100%" id="table2">
                          <caption>Exhibitions</caption>
                          <thead class="thead-light">
                          <tr>
                            <th width="60%">Date</th>
                            <th width="20%">Quantity</th>
                            <th width="20%">Fees</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let edata of singleUserData.etimeslots">
                              <td>{{edata.exhibition_day}}
                                  <br/> {{edata.from.hour+":"+edata.from.minute}} - {{edata.to.hour+":"+edata.to.minute}}</td>
                            <td>{{edata.entryQuantity}}</td>
                            <td class="ralign">{{edata.exhibitions_fee | currency}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                
                    <br/>
                    <div class="row bill-blk">
                      <div class="col-sm-12 user-bill-blk table-responsive table-hover">
                        <table class="table" width="100%" id="table3">
                          <caption>Warmups</caption>
                          <thead class="thead-light">
                          <tr>
                            <th width="60%">Date</th>
                            <th width="20%">Quantity</th>
                            <th width="20%">Fees</th>
                          </tr></thead>
                          <tbody>
                          <tr *ngFor="let wdata of singleUserData.wtimeslots">
                              <td>{{wdata.warmup_day}}
                                  <br/>{{wdata.from.hour+":"+wdata.from.minute}} - {{wdata.to.hour+":"+wdata.to.minute}}</td>
                            <td>{{wdata.wentryQuantity}}</td>
                            <td class="ralign">{{wdata.warmup_fee | currency}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                
                    <br/>
                    <div class="row bill-blk">
                      <div class="col-sm-12 user-bill-blk table-responsive table-hover">
                        <table class="table" width="100%" id="table4">
                          <caption>Add Ons</caption>
                          <thead class="thead-light">
                          <tr>
                            <th width="60%">Type</th>
                            <th width="20%">Quantity</th>
                            <th width="20%">Fees</th>
                          </tr></thead>
                          <tbody>
                          <tr>
                            <td>Stalls</td>
                            <td>{{singleUserData.userStalls}}</td>
                            <td class="ralign">{{singleUserData.stalls_price | currency}}</td>
                          </tr>
                          <tr>
                              <td>Electric Hook Ups</td>
                              <td>{{singleUserData.electric_quantity }}</td>
                              <td class="ralign">{{singleUserData.electric_price | currency}}</td>
                            </tr>
                          <tr>
                            <td>Shavings</td>
                            <td>-</td>
                            <td class="ralign">{{singleUserData.shavings_price | currency}}</td>
                          </tr>
                          <tr>
                            <td>Late Fee</td>
                            <td>-</td>
                            <td class="ralign">{{singleUserData.late_fee | currency}}</td>
                          </tr>
                          <tr>
                            <td>Office Fee</td>
                            <td>-</td>
                            <td class="ralign">{{singleUserData.office_fee | currency}}</td>
                          </tr>
                          <tr>
                            <td>Total Amount</td>
                            <td></td>
                            <td class="ralign">
                              <b>{{singleUserData.total | currency}}</b>
                            </td>
                          </tr></tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <button  class="btn btn-light hide-on-print " (click)="generate_pdf()" >Generate PDF</button>
                


            </div>
          </div>
        </div>
      </div>
    </div>

    </div>