<div class="content-wraper">

  <div class="container-fluid" style="padding: 0px;">
    <div class="row">
      <div class="col-xs-12 col-sm-12">

        <div class="page-header page-header-default">
          <div class="page-header-content">
            <div class="page-title">
              <h4>
                <i class="icon-arrow-left52 position-left"></i>
                <span class="text-semibold">Home</span> - Dashboard</h4>
              <a class="heading-elements-toggle">
                <i class="icon-more"></i>
              </a>
            </div>
          </div>

          <div class="breadcrumb-line">
            <a class="breadcrumb-elements-toggle">
              <i class="icon-menu-open"></i>
            </a>
            <ul class="breadcrumb">
              <li>
                <a routerLink="/producer/dashboard">
                  <i class="icon-home2 position-left"></i> Home</a>
              </li>
              <li class="active">Dashboard</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    <app-alert-message [alertMessage]="alertMessage"></app-alert-message>

  <div class="row">
<div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
    <div class="card" >
        <div class="card-body">
          <a routerLink="/producer/events">
        <img alt="..." src="../../../assets/images/ADD-YOUR-EVENT.png" class="card-img-top card-img">
      </a>  
      </div>
      </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="card" >
        <div class="card-body">
           
        </div>
      </div>
</div>
  </div>
</div>
<br>
<br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
       
          <div class="card" >
              <div class="card-header">
                <h5 class="capitalize"><b >{{fname}}'s Events</b></h5>
              </div>
              <ul class="list-group list-group-flush" *ngFor="let events of producerEvents;let i=index">
                <li *ngIf="i<5" class="list-group-item list-group-item-action capitalize">
                  {{events.event_name}}
                <span class="pull-right ">
                  <span *ngIf="events.from_date<currentDate && events.to_date>currentDate" class="on-event">On Going</span>
                  <span *ngIf="events.from_date<currentDate && events.to_date<currentDate" class="e-event">Expired</span>
                  <span *ngIf="events.from_date>currentDate" class="u-event">Upcoming</span>
                </span>
                
                </li>
              </ul>
              <ul class="list-group list-group-flush" >
                  <li class="list-group-item list-group-item-action capitalize view-link" routerLink="/producer/listevents"><a class="view-link" routerLink="/producer/listevents">View More Events</a></li>
              </ul>
            </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
         <div class="card" >
              <div class="card-header">
                <h5 class="capitalize"><b >All Events</b></h5>
              </div>
              <ul class="list-group list-group-flush" *ngFor="let events of eventList;let i=index">
                  <li *ngIf="i<5" class="list-group-item list-group-item-action capitalize">
                    {{events.event_name}}
                  <span class="pull-right">
                      <span *ngIf="events.from_date<currentDate && events.to_date>currentDate" class="on-event">On Going</span>
                        <span *ngIf="events.from_date<currentDate && events.to_date<currentDate" class="e-event">Expired</span>
                        <span *ngIf="events.from_date>currentDate" class="u-event">Upcoming</span>
                  </span>
                  </li>
                </ul>
                <ul class="list-group list-group-flush " >
                    <li class="list-group-item list-group-item-action capitalize view-link" ><a routerLink="/producer/listevents" class="view-link">View More Events</a></li>
                </ul>
            </div>
        </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                  <div class="card-header" >
                      <i class="material-icons" data-background-color="orange">event</i>
                  </div>
                  <div class="card-content">
                      <p class="category">Total Events</p>
                      <h3 class="card-title">{{countData.event_total | json}}</h3>
                  </div>
                 
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                  <div class="card-header" >
                      <i class="material-icons" data-background-color="red"> person</i>
                  </div>
                  <div class="card-content">
                      <p class="category">Total Users</p>
                      <h3 class="card-title">{{countData.user_total | json}}</h3>
                  </div>
                 
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                  <div class="card-header" >
                      <i class="material-icons" data-background-color="green">equalizer</i>
                  </div>
                  <div class="card-content">
                      <p class="category">Total signedup users for events</p>
                      <h3 class="card-title">{{countData.evententries_total}}</h3>
                  </div>
              
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="card ">
                  <div class="card-header" >
                      <i class="material-icons" data-background-color="blue">supervisor_account</i>
                  </div>
                  <div class="card-content">
                      <p class="category">Total Producers</p>
                      <h3 class="card-title">{{countData.producer_total | json}}</h3>
                  </div>
                
              </div>
          </div>
      </div>

  </div>
<br>
<br>
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="alert alert-primary" role="alert">
          A simple primary alert—check it out!
        </div>
        <div class="alert alert-secondary" role="alert">
          A simple secondary alert—check it out!
        </div>

        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Password</label>
                  <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
              </div>
              <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">City</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">State</label>
                  <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">Zip</label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    Check me out
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <div class="card-text">
              <div class="input-group mb-3">

                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                  <span class="input-group-text">0.00</span>
                </div>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Etimeslot</span>
                </div>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                  <span class="input-group-text">$</span>
                  <span class="input-group-text">0.00</span>
                </div>
              </div>
            </div>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            <br>
            <br>

            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <div class="card-text">
              <div class="input-group mb-3">

                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                  <span class="input-group-text">0.00</span>
                </div>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Etimeslot</span>
                </div>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                  <span class="input-group-text">$</span>
                  <span class="input-group-text">0.00</span>
                </div>
              </div>
            </div>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive table-hover">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Heading</th>
                    <th scope="col">Heading</th>
                    <th scope="col">Heading</th>
                    <th scope="col">Heading</th>
                    <th scope="col">Heading</th>
                    <th scope="col">Heading</th>
                    <th scope="col">Heading</th>
                    <th scope="col">Heading</th>
                    <th scope="col">Heading</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>